@page "/catalog/store-departments"

<PageTitle>Departamentos de Tienda</PageTitle>
<div class="row">
    <div class="col-12">
        <Breadcrumb Items="@Items" />
        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <h3 class="mb-0">Departamentos de Tienda</h3>
            </div>
            <div class="mb-3">
                <a href="#" class="btn btn-success float-start">Agregar</a>
            </div>
        </div>
        <StoreDepartmentList
            @rendermode="new InteractiveServerRenderMode(false)"/>
    </div>
</div>


@code {
    
    private List<BreadcrumbItem>? Items { get; set; }

    protected override void OnInitialized()
    {
        Items =
        [
            new BreadcrumbItem { Text = "Inicio", Href = "/"},
            new BreadcrumbItem { Text = "Catalogo de Productos", Href = "javascript:"},
            new BreadcrumbItem { Text = "Departamentos de Tienda", IsCurrentPage = true, Href = "/catalog/store-departments" }
        ];
    }
}